; edit this file to change m8c defaults
; this file is re-written every time it is read,
; so do not expect comments or commented out values to survive!
; valid parameter changes will be written back and persisted though.

[graphics]
; set this to true to have m8c start fullscreen
fullscreen=false
; set this to false to run m8c in software rendering mode (may be useful for Raspberry Pi)
use_gpu=true

[keyboard]
; these need to be the decimal value of the SDL scancodes.
; a table exists here: https://github.com/libsdl-org/sdlwiki/blob/main/SDLScancodeLookup.mediawiki
key_up=82
key_left=80
key_down=81
key_right=79
key_select=225
key_select_alt=4
key_start=44
key_start_alt=22
key_opt=226
key_opt_alt=29
key_edit=224
key_edit_alt=27
key_delete=76
key_reset=21

[gamepad]
; these need to be the decimal value of the SDL Controller buttons.
; a table exists here: https://wiki.libsdl.org/SDL_GameControllerButton
gamepad_up=11
gamepad_left=13
gamepad_down=12
gamepad_right=14
gamepad_select=4
gamepad_start=6
gamepad_opt=1
gamepad_edit=0

gamepad_analog_threshold=32766 ;the threshold for analog sticks to trigger cursor movement (working values: 1-32766)
gamepad_analog_invert=false ;NOT IMPLEMENTED YET: invert up/down and left/right axis (true/false)

; these need to be the decimal value of the controller axis
; you can use -1 if you do not wish to map the function to an analog axis
gamepad_analog_axis_updown=1
gamepad_analog_axis_leftright=0
gamepad_analog_axis_start=5
gamepad_analog_axis_select=4
gamepad_analog_axis_opt=-1
gamepad_analog_axis_edit=-1
